---
Checks: 'bugprone-undefined-memory-manipulation,cppcoreguidelines-virtual-class-destructor,hicpp-multiway-paths-covered,bugprone-integer-division'
WarningsAsErrors: 'clang-diagnostic-array-bounds,bugprone-undefined-memory-manipulation,cppcoreguidelines-virtual-class-destructor,clang-analyzer-deadcode.DeadStores,clang-diagnostic-format,clang-diagnostic-free-nonheap-object,hicpp-multiway-paths-covered,clang-diagnostic-implicit-function-declaration,clang-diagnostic-implicit-int,clang-diagnostic-incompatible-pointer-types,clang-diagnostic-int-to-void-pointer-cast,bugprone-integer-division,clang-diagnostic-macro-redefined,clang-diagnostic-multichar,clang-diagnostic-parentheses,clang-diagnostic-return-type,clang-analyzer-core.StackAddressEscape,clang-analyzer-core.UndefinedBinaryOperatorResult,clang-diagnostic-unknown-escape-sequence,clang-diagnostic-unused-comparison,clang-diagnostic-unused-value,clang-diagnostic-writable-strings'